#btn1{
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    left: 750px;
    top: 10px;
    outline: none;
    font-size: 25px;
    line-height: 0;
}
#btn1:hover{
    background: rgba(232, 17, 35, 1);
    color: white;
    transition: all 0.5s ease
}
#sheetdiv1{
    position: absolute;
    height: 330px;
    width: 350px;
    left: 100px;
    top: 50px;
    border-radius: 15px;
    border: 1px solid white;
    /* overflow: hidden; */
    box-shadow: 2px 2px 3px gray;
}
#sheetdiv1 span{
    display: inline-block;
    margin-top: 5px;
}
#sheetdiv2{
    position: absolute;
    width: 300px;
    top: 150px;
    left: 500px;
}
#sheetdiv2 span{
    margin-left: 60px;
    width: 75px;
    display: inline-block;
}
#sheetp{
    font-size: 35px;
    text-indent: 100px;
    text-shadow: 2px 2px 3px #eee;
    color: white;
    margin: 10px;
}
.sheetspan1{
    margin-left: 20px;
}
.sheetspan2{
    margin-left: 40px;
    color: white;
}
.sheetspan3{
    margin-left: 75px;
    color: gray;
}
#sheetbtn1{
    outline: none;
    position: absolute;
    top: 410px;
    left: 120px;
    cursor: pointer;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    font-size: 30px;
    text-shadow: 2px 2px 3px gray;
    background: crimson;
    color: white;
}
#sheetbtn2{
    outline: none;
    position: absolute;
    cursor: pointer;
    top: 410px;
    left: 480px;
    width: 200px;
    height: 60px;
    border-radius: 15px;
    font-size: 30px;
    text-shadow: 2px 2px 3px gray;
    background: cyan;
    color: white;
}
#sheetbtn1:hover, #sheetbtn2:hover{
    opacity: 0.8;
}